.input-wrapper {
  display: flex;
  max-width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    max-width: none;
  }

}

.search-input {
  min-height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  line-height: 20px;
  padding: 8px 15px;
  flex-grow: 1;
  min-width: 150px;
}

.user-prev {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  list-style: none;
  margin: 10px;
  padding: 0;
  text-align: center;
  justify-self: center;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  padding: 10px
}

.repos-list {
  @include list-default;
  margin: 0 auto;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 800px) {
    grid-template-columns: 1fr;
  }
}

.wrapper-list {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 30px;
}

.search-title {
  margin-top: 50px;

  @media (max-width: 768px) {
    margin: 20px 0;
    font-size: 26px;
    line-height: 32px;
  }
}

.img-wrapper {
  width: 100%;
}

.load-more {
  margin: 50px auto;

}
.result-link {
  width: 100%;
}

.user-name {
  margin: 10px 0;

  i {
    color: rgb(37, 37, 157);
  }
}

.btn-details {
  display: inline-block;
  border: none;
  background-color: transparent;
  padding: 5px;

  &:hover {
    cursor: pointer;
    color: $color-green;
  }
}
